<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>home</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script>
  var SESSION_ID = ""
  var POLLING_URL = "{% url "longpolling" %}";
  var BEEP_URL = "{% url "beep" %}";
  var active = true;


  var process_messages = function(raw){
    var acks = [];

    raw.forEach(function(msg){
      acks.push(msg.id);
      $('#log').append($('<li id="' + msg.data.client.id+'">'+ msg.data.msg + '</li>'))
      console.log(msg.data)
    })
    return acks;
  };
  var poll = function(acks){
    console.log('load')
    $.ajax(POLLING_URL, {
      method: 'POST',
      dataType: 'json',
      processData: false,
      contentType: "application/json",
      data: JSON.stringify({'acks':acks}),
      headers: {
        "SESSION_ID": SESSION_ID,
      }
    })
    .done(function(data){
      var acks;

      if (data.messages){
        acks = process_messages(data.messages);
      }
      else if (data.SESSION_ID){
        SESSION_ID = data.SESSION_ID;
        $('#name').text(data.client.name)
      }
      
      if (active) poll(acks);
    });
  
}

  $(function(){
    $('#beepbtn').click(function(e){
      $.ajax(BEEP_URL, {
        method: 'POST',
        headers: {
          "SESSION_ID": SESSION_ID,
        }
      })
    })
    
    poll(null);
  })

</script>

</head>
<body id="home" onload="">
  
  <h1>Long polling demo</h1>
  <button id="beepbtn">Beep</button>
  <h2>Hello <span id="name"></span>!</h2>
  <ul id="log">
  </ul>
</body>
</html>